/*_____________________AMBER_THEME______________________*/
/* --body-before:#00ff771a; /* This is the background that creates the crt lines, background uses a transparency of 10% SET TO NONE TO REMOVE CRT EFFECT */
/* --body-after: #00ff7733; /* This is the background that creates the crt lines, background uses a transparency of 20% SET TO NONE TO REMOVE CRT EFFECT */
/* --body-animation: flicker; This is the background that flickers. SET TO NONE TO REMOVE THE FLICKER ANIMATION! */
/* --custom-text-header-animation: textflicker; /* SET TO NONE TO REMOVE THE FLICKER ANIMATION! */

@import url(/css/addons/unraid/login-page/retro-terminal/retro-terminal-base.css);
:root {
--main-bg-color:black;
--body-before:#F66E25;
--body-after: #ffb52a33;
--body-animation: flicker;
--logo: url(https://i.imgur.com/kSwWoRe.png) center no-repeat;
--text-color: #F66E25;
--input-color: #F66E25;
--link-color: #F66E25;
--link-color-hover: #ff6868;
--case-color: #F66E25;
--button-text-color: #F66E25;
--button-text-color-hover: #000;
--button-color: #F66E25;
--button-color-hover: #ff6868;
--selection-color: #ff6868;
--custom-text-header:#F66E25;
--custom-text-header-shadow:#F66E25;
--custom-text-header-animation: textflicker;
--input-font: 'Share Tech Mono', monospace;
--text-font: 'Share Tech Mono', monospace;
--loginbox-background-color: transparent;
--text-shadow: 0 0 8px;
--text-shadow-color: #ffb52a;
--box-shadow: 0 0 15px;
}
